@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/*

fontes:
  > Roboto Slab, serif
  > Roboto Mono, monospace,
  > Roboto, sans-serif

*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cabecalho {
  width: 100%;
  height: 70px;
  background-color: #126fd3;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
  border-bottom: 3px solid #005bbc;
}

.logo-cabecalho {
  height: 100%;
  margin: 0 10px;
}

.cabecalho-link-botao {
  background-color: #06b42e;
  padding: 5px 10px;
}

.container-formulario {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario-grande {
  background-color: white;
  width: 40%;
  min-width: 500px;
  padding: 20px 40px;
  border: solid 1px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  resize: none;
}

.titulo-formulario-grande {
  width: 100%;
  text-align: center;
  margin: 0 0 20px 0;
  font-family: "Roboto Slab", serif;
}

.label-form-grande {
  font-weight: bold;
  font-size: 1.05rem;
  font-family: "Roboto", sans-serif;
}

.input-form-grande {
  width: 100%;
  padding: 3px;
  font-family: "Roboto", sans-serif;
  font-size: inherit;
  margin: 0 0 10px 0;
}

input.input-form-grande[type="file"] {
  font-size: 1rem;
}

input.input-form-grande[type="file"]:hover {
  cursor: pointer;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input[type="password"] {
  flex: 1;
  padding-right: 40px;
  box-sizing: border-box;
}

img.show-password {
  position: absolute;
  right: 10px;
  bottom: 12px;
}

img.show-password:hover {
  cursor: pointer;
}

img.showing {
  filter: drop-shadow(0 0 3px #06b42e);
}

.obrigatorio::before {
  content: "* ";
  color: red;
}

.bloco-erro {
  padding: 5px 7px;
  margin: 0 0 15px 0;
  border: 1px solid rgb(150, 0, 0);
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.386);
  font-family: "Roboto", sans-serif;
  color: rgb(150, 0, 0);
}

.bloco-aviso {
  padding: 5px 7px;
  margin: 0 0 15px 0;
  border: 1px solid rgb(110, 110, 0);
  border-radius: 5px;
  background-color: rgba(255, 255, 0, 0.386);
  font-family: "Roboto", sans-serif;
  color: rgb(110, 110, 0);
}

.bloco-sucesso {
  padding: 5px 7px;
  margin: 0 0 15px 0;
  border: 1px solid rgb(0, 150, 0);
  border-radius: 5px;
  background-color: rgba(0, 255, 0, 0.386);
  font-family: "Roboto", sans-serif;
  color: rgb(0, 150, 0);
}

.bloco-info {
  margin: 0 0 10px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
}

.lista-info {
  margin: 0 0 0 10px;
  color: #555;
  list-style-type: none;
}

.lista-info li {
  transition: color 0.2s ease;
}

.lista-info li::before {
  transition: color 0.2s ease;
  content: "> ";
  font-family: "Roboto Mono", monospace;
}

.lista-info li.valido {
  color: green;
}

.lista-info li.valido::before {
  content: "✓ ";
  color: green;
  font-family: "Roboto Mono", monospace;
}

.lista-info li.invalido {
  color: red;
}

.lista-info li.invalido::before {
  content: "X ";
  color: red;
  font-family: "Roboto Mono", monospace;
}

.botao-strong {
  padding: 5px;
  margin: 10px 0 10px 0;
  color: white;
  background-color: #126fd3;
  border: solid 1px black;
  font-family: "Roboto", sans-serif;
  font-size: 1.05rem;
  transition: background-color 0.3s ease;
}

.botao-strong:hover {
  cursor: pointer;
  background-color: #0954a4;
}

.botao-strong:disabled {
  background-color: transparent;
  color: black;
}

.botao-strong:disabled:hover {
  cursor: default;
}

.link-formulario {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.container-formulario-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  width: 10px;
  text-align: center;
}

.texto-obrigatorio {
  color: red;
  font-family: "Roboto", sans-serif;
}

.info {
  font-family: "Roboto";
  width: 100%;
  text-align: center;
}

.bloco-interesses {
  width: 100%;
  margin: 15px 0 0 0;
  border: 1px solid #00000062;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  max-height: 500px;
  overflow-y: scroll;
}

.container-checkbox-interesse {
  font-family: "Roboto";
  margin: 9px 3px;
}

.interesse-checkbox {
  display: none;
}

.interesse-checkbox-label {
  padding: 5px;
  font-size: 1.1rem;
  border: 1px solid black;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}

.interesse-checkbox:checked + .interesse-checkbox-label {
  background-color: #4fd56e;
  border: 1px solid #015a16;
}

.desinteresse-checkbox {
  display: none;
}

.desinteresse-checkbox-label {
  padding: 5px;
  font-size: 1.1rem;
  border: 1px solid black;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}

.desinteresse-checkbox:checked + .desinteresse-checkbox-label {
  background-color: #e86a6a;
  border: 1px solid #5a0101;
}

.container-listagem {
  height: 100%;
  width: 60%;
  align-self: center;
  padding: 20px 0;
}

.titulo1 {
  font-family: "Roboto Slab", serif;
  font-size: 2.2rem;
  transform: skew(-10deg);
}

.titulo2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.container-item-listagem {
  margin: 10px 0 0 0;
  padding: 10px;
  border-top: 3px solid #00000074;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-listagem {
  padding: 5px;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.link-perfil-listagem {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: #0649b4;
  font-style: none;
  text-decoration: none;
}

.foto-redonda-listagem {
  object-fit: contain;
  height: 100%;
  border-radius: 100vh;
  margin: 0 5px 0 0;
}

.texto-listagem {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.container-contadores-listagem {
  height: 100%;
  margin: 0 0 0 auto;
  display: flex;
  gap: 10px;
  width: 20%;
}

.contador-interesses-listagem {
  height: 100%;
  background-color: #06b42f94;
  color: #00410f;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  border: 3px solid #00410fbf;
  border-radius: 10px;
}

.contador-desinteresses-listagem {
  height: 100%;
  background-color: #b4060694;
  color: #410000;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  border: 3px solid #410000bf;
  border-radius: 10px;
}

.admin-container {
  background-color: #101010;
}

.admin-header {
  background-color: #051e3a;
}
